# Question 22

### Question

**Column Name  - Type**

id - int

recordDate - date

temperature - int

id is the column with unique values for this table.

This table contains information about the temperature on a certain day.

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

### Answer

In [1]:
import sqlite3
con = sqlite3.connect('temperature.sqlite') # create a DB
cur = con.cursor()
cur.execute("CREATE TABLE df (id int, recordDate date, temperature int)") # create a table
data = [[1, '2015-01-01', 10],
        [2, '2015-01-02', 25],
        [3, '2015-01-03', 20],
        [4, '2015-01-04', 30]]
for row in data:
  cur.execute(f"INSERT INTO df VALUES ('{row[0]}', '{row[1]}', '{row[2]}')") # inserting the data iteratively
con.commit()
con.close()

In [2]:
# checking the loaded data
con = sqlite3.connect('temperature.sqlite')
cur = con.cursor()
cur.execute('SELECT * FROM df')
cur.fetchall()

[(1, '2015-01-01', 10),
 (2, '2015-01-02', 25),
 (3, '2015-01-03', 20),
 (4, '2015-01-04', 30)]

In [11]:
# fetching all the IDs with temperature higher than previous day's temperature
con = sqlite3.connect('temperature.sqlite')
cur = con.cursor()
cur.execute("""SELECT t1.id
               FROM df t1
               JOIN df t2 ON t1.recordDate = DATE(t2.recordDate, '+1 days')
               WHERE t1.temperature > t2.temperature;
            """)
cur.fetchall()

[(2,), (4,)]